<div class="img-background">
  <section>
    <div class="box">
      <h6>#underconstruction</h6>
      <h2><span style="color: #f54e42;">Rental Car</span> Coming Soon</h2>
      <p>
        Our website is under construction, we are working very hard to give you the best experience with this one.
        You will love this service as much as we do. It will morph perfectly on your needs!
      </p>
      <div style="text-align: center;">
        <h4>NOTIFY ME WHEN IT'S READY</h4>
        <div class="input-group mb-3" style="width:60%; margin-left:20%;">
          <input type="text" class="form-control" placeholder="YOUR EMAIL" style="background: rgba(0,0,0,0.2)" />
          <div class="input-group-append">
            <button class="btn" style="color:white; background-color:#f54e42;" type="button">SUBSCRIBE <i class="fas fa-arrow-right"></i></button>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
<!--<div class="container">
    <div class="row">
      <div class="col progress" *ngIf='visibleOrNot'>
        <circle-progress [percent]="progress"
                         [radius]="5"
                         [outerStrokeWidth]="0.5"
                         [innerStrokeWidth]="0.8"
                         [space]="-3"
                         [outerStrokeColor]="'#4882c2'"
                         [innerStrokeColor]="'#e7e8ea'"
                         [titleFontSize]="3"
                         [titleColor]="'#fff'"
                         [unitsColor]="'#fff'"
                         [unitsFontSize]="4"
                         [showSubtitle]="false"
                         [animation]="true"
                         [animationDuration]="200"
                         [startFromZero]="false"
                         [responsive]="true"></circle-progress>
      </div>
      <div class="col progress" *ngIf='visibleOrNot' style="margin-left: 7%;">
        <span *ngIf='visibleOrNot'> {{subtitle}} </span>
      </div>
    </div>
  </div>
</div>-->


