
.img-background {
  background: url("src\assets\carRent.png") no-repeat top center fixed;
  height: 91.3%;
  width: 100%;
  /*filter: blur(5px);*/
}
body{
    margin:0;
    padding:0;
}
section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("src\assets\carRent.png");
  background-attachment: fixed;
  height: 100vh;
}
section .box{
    position: relative;
    max-width: 70%;
    padding: 50px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    overflow: hidden;
    color: #000;
}
  section .box::before {
    position: absolute;
    content: '';
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background: url("src\assets\carRent.png");
    background-attachment: fixed;
    filter: blue(4px);
  }
  section .box h2{
    position: relative;
    padding: 0;
    margin: 0 0 20px;
    z-index: 2;
    font-size: 30px;
    text-transform: uppercase;
  }
  section .box p {
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 2;
    font-size: 18px;
  }
.progress {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  height: 40%;
  width: 50%;
  background: none;
}
div.progress:last-of-type {
  width: 0px;
  animation: reveal 3s infinite;
}
div.progress:last-of-type span {
    margin-left: -355px;
    animation: slidein 3s infinite;
  }

@keyframes showup {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }

  20% {
    margin-left: -800px;
  }

  35% {
    margin-left: 0px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }

  20% {
    opacity: 1;
    width: 0px;
  }

  30% {
    width: 355px;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 355px;
  }
}
.s {
  background: none;
}
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

$f-primary : 'Josefin Sans', sans-serif;
$f-secondary : 'Indie Flower', cursive;
$c-front : #FFFFFF;
$c-back : #1D1F20;
$c-back-light : #383838;
$c-hilight : #FFA500;
$s-footer-height : 3rem;

%boxShadow {
  box-shadow: 0 0 10rem 0 #000000;
}

%boxShadow--in {
  box-shadow: 0 0 10rem 0 #000000 inset;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  @extend %boxShadow--in;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $c-back;
  color: $c-front;
  font-family: $f-primary;
  font-size: 10px;
  font-weight: 100;
  box-shadow: 0 0 10rem 0 #000000 inset;
}
.svg-calLoader {
  width: 230px;
  height: 230px;
  transform-origin: 115px 115px;
  animation: 1.4s linear infinite loader-spin;
}

.cal-loader__plane {
  fill: $c-hilight;
}

.cal-loader__path {
  stroke: $c-front;
  animation: 1.4s ease-in-out infinite loader-path;
}

@keyframes loader-spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes loader-path {
  0% {
    stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
  }

  50% {
    stroke-dasharray: 0, 450, 10, 30, 10, 30, 10, 30, 10;
  }

  100% {
    stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
  }
}
