
.img-background {
  background: url("src\assets\carRent.png") no-repeat top center fixed;
  height: 90%;
  width: 100%;
  /*filter: blur(5px);*/
}
body{
    margin:0;
    padding:0;
}
section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("src\assets\carRent.png");
  background-attachment: fixed;
  height: 92.4vh;
}
section .box{
    position: relative;
    max-width: 70%;
    padding: 50px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.7);
    overflow: hidden;
    color: #000;
}
  section .box::before {
    position: absolute;
    content: '';
    top: -20px;
    left: -15px;
    right: -15px;
    bottom: -20px;
    background: url("src\assets\carRent.png");
    background-attachment: fixed;
    filter: blue(4px);
  }
  section .box h2{
    position: relative;
    padding: 0;
    margin: 0 0 20px;
    z-index: 2;
    font-size: 30px;
    text-transform: uppercase;
  }
  section .box h6 {
    position: relative;
    padding: 0;
    z-index: 2;
    font-size: 10px;
    text-transform: uppercase;
  }
  section div {
    position: relative;
    padding: 0;
    z-index: 2;
  }
  section .box p {
    position: relative;
    padding: 0;
    margin: 5%;
    z-index: 2;
    font-size: 20px;
    text-align: center;
  }
::placeholder {
  color: #21201f;
}
