
.img-background {
  background: url("src\assets\carRent.png") no-repeat top center fixed;
  height: 91.3%;
  width: 100%;
  /*filter: blur(5px);*/
}
body{
    margin:0;
    padding:0;
}
section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("src\assets\carRent.png");
  background-attachment: fixed;
  height: 100vh;
}
section .box{
    position: relative;
    max-width: 70%;
    padding: 50px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    overflow: hidden;
    color: #000;
}
  section .box::before {
    position: absolute;
    content: '';
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background: url("src\assets\carRent.png");
    background-attachment: fixed;
    filter: blue(4px);
  }
  section .box h2{
    position: relative;
    padding: 0;
    margin: 0 0 20px;
    z-index: 2;
    font-size: 30px;
    text-transform: uppercase;
  }
  section .box p {
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 2;
    font-size: 18px;
  }
.progress {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  height: 40%;
  width: 50%;
  background: none;
}
div.progress:last-of-type {
  width: 0px;
  animation: reveal 3s infinite;
}
div.progress:last-of-type span {
    margin-left: -355px;
    animation: slidein 3s infinite;
  }

@keyframes showup {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }

  20% {
    margin-left: -800px;
  }

  35% {
    margin-left: 0px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }

  20% {
    opacity: 1;
    width: 0px;
  }

  30% {
    width: 355px;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 355px;
  }
}
