<button mat-raised-button color="primary"> TEST </button><br /><br />
<div>
  <circle-progress [percent]="progress"
                   [radius]="5"
                   [outerStrokeWidth]="0.5"
                   [innerStrokeWidth]="0.8"
                   [space]="-3"
                   [outerStrokeColor]="'#4882c2'"
                   [innerStrokeColor]="'#e7e8ea'"
                   [titleFontSize]="3"
                   [titleColor]="'#fff'"
                   [unitsColor]="'#fff'"
                   [unitsFontSize]="4"
                   [showSubtitle]="false"
                   [animation]="true"
                   [animationDuration]="200"
                   [startFromZero]="false"
                   [responsive]="true"
                   *ngIf='visibleOrNot'></circle-progress>
</div><br />
<div *ngIf='visibleOrNot' style="margin-left:7%;">
  <span *ngIf='visibleOrNot'> {{subtitle}} </span>
</div>

