<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-4">
        <div class="image-box">
          <img src="../assets/travelAbout2.jpg" />
          <div class="overlay">
            <div class="text">
              <span class="ttt">$510</span>
              <h3>Dubai</h3>

            </div>
          </div>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="image-box">
          <img src="../assets/travelAbout2.jpg" />
          <div class="overlay">
            <div class="text">
              <span class="ttt">$510</span>
              <h3>Dubai</h3>

            </div>
          </div>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="image-box">
          <img src="../assets/travelAbout2.jpg" />
          <div class="overlay">
            <div class="text">
              <span class="ttt">$510</span>
              <h3>Dubai</h3>

            </div>
          </div>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <br /><br />
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-4">
        <div class="image-box">
          <img src="../assets/travelAbout2.jpg" />
          <div class="overlay">
            <div class="text">
              <span class="ttt">$510</span>
              <h3>Dubai</h3>

            </div>
          </div>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="image-box">
          <img src="../assets/travelAbout2.jpg" />
          <div class="overlay">
            <div class="text">
              <span class="ttt">$510</span>
              <h3>Dubai</h3>

            </div>
          </div>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="image-box">
          <img src="../assets/travelAbout2.jpg" />
          <div class="overlay">
            <div class="text">
              <span class="ttt">$510</span>
              <h3>Dubai</h3>

            </div>
          </div>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
