<div class="content">
  <div class="row">
    <div class="col">
      <h1 class="header">Our Destinations</h1>
      <h6 class="subHeader">Choose Your Next Destination</h6>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-4">
        <div class="image-box">
          <img src="../assets/CountriesWallpapers/greece.jpg" />
          <div class="overlay">
            <div class="text">
              <span class="price">$590</span>
              <h3>Santorini, Greece</h3>

            </div>
          </div>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="image-box">
          <img src="../assets/CountriesWallpapers/Rome.jpg" />
          <div class="overlay">
            <div class="text">
              <span class="price">$390</span>
              <h3>Rome, Italy</h3>

            </div>
          </div>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="image-box">
          <img src="../assets/CountriesWallpapers/japan.jpg" />
          <div class="overlay">
            <div class="text">
              <span class="price">$410</span>
              <h3>Mount Fuji, Japan</h3>

            </div>
          </div>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <br /><br />
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-4">
        <div class="image-box">
          <img src="../assets/CountriesWallpapers/camelDubai.jpg" />
          <div class="overlay">
            <div class="text">
              <span class="price">$320</span>
              <h3>Camels, Dubai</h3>

            </div>
          </div>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="image-box">
          <img src="../assets/CountriesWallpapers/londonTower.jpg" />
          <div class="overlay">
            <div class="text">
              <span class="price">$290</span>
              <h3>Elizabeth Tower, London</h3>

            </div>
          </div>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="image-box">
          <img src="../assets/CountriesWallpapers/australia.jpg" />
          <div class="overlay">
            <div class="text">
              <span class="price">$390</span>
              <h3>Opera House, Australia</h3>

            </div>
          </div>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="img-background">
  <section>
    <div class="box">
      <h6>#underconstruction</h6>
      <h2><span style="color: #f54e42;">TOUR PACKAGES</span> Coming Soon</h2>
      <p>
        Our website is under construction, we are working very hard to give you the best experience with this one.
        You will love this service as much as we do. It will morph perfectly on your needs!
      </p>
      <div style="text-align: center;">
        <h4>NOTIFY ME WHEN IT'S READY</h4>
        <div class="input-group mb-3" style="width:60%; margin-left:20%;">
          <input type="text" class="form-control" placeholder="YOUR EMAIL" style="background: rgba(0,0,0,0.2)" />
          <div class="input-group-append">
            <button class="btn" style="color:white; background-color:#f54e42;" type="button">SUBSCRIBE <i class="fas fa-arrow-right"></i></button>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
