<div class="content">
  <div class="row">
    <div class="col">
      <h1 class="header">Our Destinations</h1>
      <h6 class="subHeader">Choose Your Next Destination</h6>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-4">
        <div class="image-box">
          <img src="../assets/CountriesWallpapers/greece.jpg" />
          <div class="overlay">
            <div class="text">
              <span class="price">$590</span>
              <h3>Santorini, Greece</h3>

            </div>
          </div>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="image-box">
          <img src="../assets/CountriesWallpapers/Rome.jpg" />
          <div class="overlay">
            <div class="text">
              <span class="price">$390</span>
              <h3>Rome, Italy</h3>

            </div>
          </div>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="image-box">
          <img src="../assets/CountriesWallpapers/japan.jpg" />
          <div class="overlay">
            <div class="text">
              <span class="price">$410</span>
              <h3>Mount Fuji, Japan</h3>

            </div>
          </div>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <br /><br />
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-4">
        <div class="image-box">
          <img src="../assets/CountriesWallpapers/camelDubai.jpg" />
          <div class="overlay">
            <div class="text">
              <span class="price">$320</span>
              <h3>Camels, Dubai</h3>

            </div>
          </div>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="image-box">
          <img src="../assets/CountriesWallpapers/londonTower.jpg" />
          <div class="overlay">
            <div class="text">
              <span class="price">$290</span>
              <h3>Elizabeth Tower, London</h3>

            </div>
          </div>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="image-box">
          <img src="../assets/CountriesWallpapers/australia.jpg" />
          <div class="overlay">
            <div class="text">
              <span class="price">$390</span>
              <h3>Opera House, Australia</h3>

            </div>
          </div>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
