.cover {
  background: url("src\assets\blogPost.jpg") no-repeat top center fixed;
  background-size: cover;
  height: 70%;
  width: 100%;
  margin: 0;
  padding: 0;
}
h2 {
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: white;
  font-size: 2rem;
}
h4 {
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  line-height: 1;
  color: white;
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px #000000;
}
.content {
  padding: 0;
  background: #f7f7f7;
}

span{
    margin-left:3%;
}
postCard{
    margin-bottom: 10%;
}
::ng-deep .mat-card-header-text {
  width: 100%;
}
.tiheader {
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 1.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2rem;
  position: relative;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.subHeader {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 0;
}
mat-form-field {
  width: 100%;
}
.cardBorder {
  border-top: 4px solid #d27f3d;
}
input[type=text] {
  background: transparent;
  font-family: Arial, FontAwesome;
  color: black;
}
