<div class="cover">
  <br /><br />
  <h2>TELL US YOUR STORY</h2>

  <h4 style="margin-top:25%;">"We all need people who will give us <br />feedback. That's how we improve."</h4>
</div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-2">pic</div>
      <div class="col">
        <div class="row">
          Title
        </div>
        <div class="row">
          <div class="col">UserName</div>
          <div class="col">Date</div>
        </div>
        <div class="row">
          Description
        </div>
      </div>
        <!--<div class="blog-entry d-md-flex">
          <a class="img img-2"></a>
          <div class="text text-2">
            <h3 class="mb-2"><a href="single.html">A Loving Heart is the Truest Wisdom</a></h3>
            <div class="meta-wrap">
              <p>
                <span><i class="fa fa-icon-calendar"></i>June 28, 2019</span>
                <span><a ><i class="fa fa-icon-folder-o"></i>Travel</a></span>
                <span><i class="fa fa-icon-comment2"></i>5 Comment</span>
              </p>
            </div>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            <p><a  class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
          </div>
        </div>-->
      </div>
  </div>
</div>
