.cover {
  background: url("src\assets\blogPost.jpg") no-repeat top center fixed;
  background-size: cover;
  height: 70%;
  width: 100%;
  margin: 0;
  padding: 0;
}
h2 {
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: white;
  font-size: 2rem;
}
h4 {
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  line-height: 1;
  color: white;
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px #000000;
}
.content {
  padding: 0;
  background: #f7f7f7;
}

span{
    margin-left:3%;
}
postCard{
    margin-bottom: 10%;
}
::ng-deep .mat-card-header-text {
  width: 100%;
}
