
.message {
  overflow-wrap: break-word;
  border-radius: 50px;
  margin: 0 15px 0px;
  padding: 15px 20px;
  position: relative;
  font-weight: bold;

}

  .message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 100px;
    text-align: right;
  }

  .message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 100px;
  }

    .message.to + .message.to,
    .message.from + .message.from {
      margin-top: -10px;
    }


.time {
  width: 30%;
  margin: 0 0 10px 20px;
  padding: 15px 20px;
  position: relative;
}

  .time.to {
    color: darkgray;
    margin-right: auto;
    text-align: right;
  }

  .time.from {
    color: darkgray;
    margin-left: auto;
  }

    .time.to + .time.to,
    .time.from + .time.from {
      margin-top: -5px;
    }

img {
  width: 12%;
  height: 12%;
  object-fit: cover;
  border-radius: 50%;
}
footDiv {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
