<div class="container">
  <h1>BudgetToCity Bot</h1>
  <hr style="margin-bottom:5%;"/>
  <ng-container *ngFor="let message of messages | async; let i = index">
    <div class="message" [ngClass]="{ 'from': message.sentBy === 'Bot',
                                     'to': message.sentBy === 'User' }">

      <div *ngIf="message.sentBy === 'Bot'"><img src="../assets/robot.png" /></div>
      <div *ngIf="message.sentBy === 'User'"><img src="../assets/user.png" /></div>
      {{message.content}}

    </div>
    <div class="time" [ngClass]="{ 'from': message.sentBy === 'Bot',
                                     'to': message.sentBy === 'User' }">
      {{message.sentBy}} {{message.timeMsg}}<br />
    </div>
    
  </ng-container>
  <div class="footDiv">
    <label for="nameField" style="margin-bottom:2%; padding:1% 0 1% 0;">Your Message: </label><br />
    <input matInput [(ngModel)]="formValue" (keyup.enter)="sendMessage()" id="item" type="text" style="width:80%;border-bottom: 1px solid black;" /> <br />
    <button (click)="sendMessage()" class="btn btn-warning" mat-raised-button style="margin:2% 0 2% 0; padding:1% 5% 1% 5%;">Send</button>
  </div>
</div>
