<div class="img-background">
  <div class="container">
    <br><br><br>
    <h1>Where to next?</h1>
    <div class="row table-responsive">


      <form [formGroup]="searchFlightForm" (ngSubmit)="onSubmit(searchFlightForm.value)">
        <table class="table">
          <thead>Flight: </thead>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>From</mat-label>
                <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" formControlName="fromAirportCode">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.airportName}} - {{option.airportCode}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>To</mat-label>
                <input type="text" matInput [formControl]="myControl2 " [matAutocomplete]="auto" formControlName="toAirportCode">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let option of filteredOptions2 | async" [value]="option">
                    {{option.airportName}} - {{option.airportCode}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

            </td>
            <td>
              <!-- <label for="Depart">Depart</label> <br />
              <input class="form-control form-control-sm" name="Depart" id="Depart" type="date" />-->
              <mat-form-field class="example-full-width">
                <mat-label>Depart</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="departDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
              </mat-form-field>
            </td>
            <td>
              <!-- <label for="Return">Return</label> <br />
              <input class="form-control form-control-sm" name="Return" id="Return" type="date" />-->
              <mat-form-field class="example-full-width">
                <mat-label>Return</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="returnDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker [dateClass]="dateClass" #picker1></mat-datepicker>
              </mat-form-field>
            </td>
            <td colspan="2">
              <button type="button" class="btn btn-outline-danger btnRound" (click)="decremantTotal()">-</button>
              <mat-form-field class="example-full-width" style="width:30%;">
                <mat-label>Travelers</mat-label>
                <input type="text" matInput name="travelers" id="Travelers" formControlName="travelers" [value]="total" style="display:inline-block;">
              </mat-form-field>
              <button type="button" class="btn btn-outline-success btnRound" (click)="incrementTotal()">+</button>

            </td>
          </tr>
          <tr>
            <td colspan="5">
              <button type="submit" class="btn btn-success searchBtn">
                Search flights <i class="fas fa-arrow-right"></i>
              </button>
            </td>

          </tr>
        </table>
      </form>
      <br /><br />

    </div>
  </div>
  <!---->
  <div class="content" style="margin-top:320px;" *ngIf="searchFlightForm.valid && responseCheck && quotesF.length >0">
    <div class="container blur">
      <br /><br />
      <div class="row border" id='flightList' *ngFor="let c of carriersF">

        <div class="col-md-2 imageTxt">
          <img src="../assets/BudgetToCityLogo.png" alt="Airline1" style="width:40%;">
          <span class="centered">{{c.Name}}</span>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-6 col-md-2">{{placesF[0].IataCode}}</div>
            <div class="col-6 col-md-3"> <img src="../assets/airplane_line.png" style="width:100%;"> </div>
            <div class="col-6 col-md-2">{{placesF[1].IataCode}}</div>
          </div>
        </div>
        <div class="col-md-2   border-dark border-left">
          {{priceFlight}}<br />
          Direct? {{directFlights}}<br />
          <button class="btn btn-success selectBtn">
            Select <i class="fas fa-arrow-right"></i>
          </button>
        </div>


        <div class="w-100 d-none d-md-block"></div>

        <div class="col-md-2 imageTxt">
          <img src="../assets/BudgetToCityLogo.png" alt="Airline2" style="width:40%;">
          <span class="centered">{{c.Name}}</span>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-6 col-md-2">{{placesF[1].IataCode}}</div>
            <div class="col-6 col-md-3"> <img src="../assets/airplane_line.png" style="width:100%;"> </div>
            <div class="col-6 col-md-2">{{placesF[0].IataCode}}</div>
          </div>
        </div>

      </div>

      <br /><br />
    </div>

  </div>
</div>

