<div class="header">
    <div class="slide-up-fade-in">
      <br />ABOUT BUDGETOCITY
      <br />
      <section id="section07" class="demo">
        <a (click)="scroll(section08)"><span></span><span></span><span></span></a>
      </section>
    </div>
</div>
  <div class="content">
    <div class="container" style="padding-top:10%;">
      <div class="row">
        <div class="col"  #section08>
          <div class="aboutHeader">
            <h2>About Us</h2>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class=" img-card"> </p>
          </div>
          <div class="col" >
            <div class="aboutDiv">
              In the last years, several applications came as services to users, to facilitate the mechanism of booking their trips,
              in the country and out, instead of going to tourism offices. That all, with all of these modern features,
              still wasting and consuming time in planning and choose the best offers within a certain budget,
              because there is no one site or application that combine all together ( flight tickets, hotels, plan for food cost, and transportation etc...)
              and take in considerations the client budget and his limits.
              By the time there a need for a platform that let it all happen in one place.
              <!--<h4>Our Mission</h4><hr />-->Nowadays, with the growth of dynamic web and developing new frameworks,
              appear the ability of third-party API to use it. So, we decide to develop this application to help people in
              planning a full trip by themselves according to specified budget. By its features it helps
              users to find hotels and flight without need a consultant from tourist offices or any other application.
              The application services and tools reduce user’s costs and consumed time.
              The application gives all the planning options of a trip according to the budget that include all the possible parameter and expenses.
              In addition, it's serves trips inside and outside the country within statistic that weights all possible spending parameters.
            </div>
          </div>
        </div>
      <br />
      </div>
    </div>
  <div class="header2">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="tiheader" style="margin-top:10%;">Experience Our<br /> Outstanding Services</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="tiheader">Our Services</h1>
          <h6 class="subHeader">We offer the following Services</h6>
        </div>
      </div>
      <br /><br />
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-3"><i class="fa fa-plane" style="font-size:200%;color:#ef6c57;text-shadow:2px 2px 4px #000000;"></i> </div>
            <div class="col">
              <h3>Flight Ticketing</h3>
              <p>
                From quick breaks to epic adventures, find the best prices across millions of flights right here.<br />
                Smart search filters, help you find your perfect flight.
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="row">
            <div class="col-3"><i class="fa fa-car" style="font-size:200%;color:#ef6c57;text-shadow:2px 2px 4px #000000;"></i> </div>
            <div class="col">
              <h3>Car Rental</h3>
              <p>
                We make searching, comparing, and booking the right car easy. <br />From family-friendly SUVs to luxury convertibles, you’ll get a great price on every type of car.
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="row">
            <div class="col-3"><i class="fa fa-hotel" style="font-size:200%;color:#ef6c57;text-shadow:2px 2px 4px #000000;"></i> </div>
            <div class="col">
              <h3>Hotel Accomodations</h3>
              <p>
                Find the best hotels prices, with a selection of millions of rooms from all around the world, from low-cost to luxury.<br />
                And with our great rates with the world's leading hotels, you’ll save even more.
              </p>
            </div>
          </div>
        </div>
      </div>
      <br /><br />
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-3"><i class="fa fa-search-dollar" style="font-size:200%;color:#ef6c57;text-shadow:2px 2px 4px #000000;"></i> </div>
            <div class="col">
              <h3>Reservation by Budget</h3>
              <p>It's our unique service.<br />Getting there is only part of the journey. We're here to help complete your entire trip planning, with a specified budget of your choice.<br />We filtering and comparing to give you results that fit your desired trip, with saving time, cost, and effort. </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="row">
            <div class="col-3"><i class="fa fa-user-tag" style="font-size:200%;color:#ef6c57;text-shadow:2px 2px 4px #000000;"></i> </div>
            <div class="col">
              <h3>Customer Segmentation</h3>
              <p>We are searching, comparing, and studying your behaviours to offer you the best choice.<br />We give you an opportunity to save time and effort.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="row">
            <div class="col-3"><i class="fa fa-users-cog" style="font-size:200%;color:#ef6c57;text-shadow:2px 2px 4px #000000;"></i> </div>
            <div class="col">
              <h3>User Mangement</h3>
              <p>In future, could anyone start a career with us.<br />Become as a partner.</p>
            </div>
          </div>
        </div>
      </div>
      <br /><br />
    </div>
</div>
