img{
  width: 3%;
  margin-right: 2%;
  margin-left: 5%;
}
nav {
  background:transparent;
}
#footer {
  color: white;
  position:absolute;
  bottom:0;
  background: rgba(0, 0, 0, 0.8);
  margin-bottom: 5%;
}
hr{
  border: 0.5px solid white;
}
span{
  font-weight: bold;
}
input[type=text] {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  font-family:Arial, FontAwesome;
}
::placeholder{
  color: white;
}
.panelDiv{
  width: 50%;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: white;
}
::ng-deep .mat-form-field .mat-form-field-label {
  color: white;
}
::ng-deep .mat-form-field .mat-datepicker-toggle {
  color: white;
}
.mat-input-placeholder {
  color: white;
}
::ng-deep .mat-form-field .mat-focused {
  color: white;
}

.resetBtn {
  color: yellow;
  background-color: rgba(0,0,0,0.6);
}
.stepperBtn{
    margin-top: 10%;
}

.chatPopup {
  bottom: 5%;
  position: absolute;
  right: 10%;
  cursor: pointer;
  width:3%;

}
.msg {
  width: 20%;
  height: 20%;
  object-fit: cover;
  text-align: center;
  vertical-align: middle;
}

@keyframes color-me-in {
  /* You could think of as "step 1" */
  0% {
    transform: scale(1.0);
    background: red;
  }
  /* You could think of as "step 2" */
  100% {
    transform: scale(1.5);
    background: yellow;
    color: black;
  }
}
.item {
  position: relative;
  padding-top: 20px;
  display: inline-block;

}

.notify-badge {
  animation: color-me-in 3s infinite alternate;
  position: absolute;
  right: -15px;
  top: 10px;
  background: red;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  color: white;
  padding: 3px 6px;
  font-size: 10px;
}
